<h1>All Gears for Rent</h1><br>
  --------------------------
  <% @gears.each do |gear| %>
      <li>
        Gear Type:<%= gear.gear_type %> <br>
        Summary:<%= gear.summary %> <br>
        $<%= gear.price %> <br>
        --------------------------
      </li>
  <% end %>
