<div class="map-container">
  <div class="row">
    <%# My rentals %>
    <div class="col">
      <%= render "personal-rentals-card", rentals: @gears %>
    </div>
    <%# My map %>
    <div class="col w-50 map-render"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>




<div class="text-container">
  <h2 class="body-text">Your Gears</h2>
</div>

<div class="container">
  <div class="row">
        <%= render "personal_gear_card", gears: @gears %>
  </div>
</div>
