<header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-between">
        <div>
         <a href="#">
            <%= image_tag("intents-2-nobg-200x200.png", height:"50") %>
          </a>
        <button type="button" class="btn btn-light me-2 border border-dark">Borrow</button>
        </div>

        <div>
        <h1 class="logo-text">Gearless</h1>
        </div>



        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__480.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">Sign Up</a></li>
            <li><a class="dropdown-item" href="#">Login</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Lend some gear</a></li>
            <li><a class="dropdown-item" href="#">Borrow some gear</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
