<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="full-page">
  <div class="hero-container">
  </div>
  <div>
  <h1></h1>
  <h2></h2>
  </div>

</div>

<%# <%= link_to 'sign out', destroy_user_session_path, data: {turbo_method: :delete} %> %>
