<% @gear.attributes.each do |k,v| %>
  <%= "#{k}: #{v}" %>
<% end %>
<p>
<%= link_to "book this gear", new_gear_rental_path(@gear) %>
| <%= link_to "Gear owner profile page", user_path(@gear.user) %>
</p>


<%# Here is all the reviews by %>

<%# <%= @gear.reviews  %> %>
